<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="custom.css">
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
  </head>
  <body>
    <div id="title-container">
      <h1 id="title">template</h1>
      <p id="desc">Here lies info about the graph below.</p>
    </div>
    <div id="chart-container"></div>
    <div id="footer-container">
      <p id="footer">Toby Loader – D3.js template</p>
    </div>
    <script src="../../d3/template.js"></script>
  </body>
</html>
